[run]
branch = True
cover_pylib = False
concurrency = multiprocessing,gevent
parallel = True
include =
    mars/*
omit =
    mars/compat/*
    mars/lib/functools32/*
    mars/lib/futures/*
    mars/lib/enum.py
    mars/lib/six.py
    mars/lib/tblib/*
    mars/lib/uhashring/*
    mars/serialize/protos/*
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
