[run]
branch = True
concurrency = multiprocessing,gevent
include =
    mars/*
omit =
    mars/lib/functools32/*
    mars/lib/futures/*
    mars/lib/enum.py
    mars/lib/six.py
    mars/lib/tblib/*
    mars/lib/uhashring/*
    mars/serialize/protos/*
    */tests/*
