**/tests
**/__pycache__
.git
.github
.idea
.vscode
.pytest*
.dist-coverage
build
dist
docs
htmlcov
misc
*.egginfo
.coverage*
.DS_Store
.flake8
.gitignore
.travis.yml
appveyor.yml
*.iml
conda-spec.txt
CONTRIBUTING.rst
LICENSE
MANIFEST.in
README.rst
**/*.pyc
**/*.so
**/*.pyd
**/*_pb2.py
mars/*.c*
mars/*.h*
mars/lib/*.c*
mars/actors/*.c*
mars/actors/pool/*.c*
mars/optimizes/**/*.c*
mars/scheduler/*.c*
mars/serialize/*.c*
mars/worker/*.c*
