**/tests
**/__pycache__
.git
.github
.idea
.vscode
.pytest*
.kube-coverage
bin
build
dist
docs
htmlcov
misc
*.egginfo
.coverage*
.DS_Store
.flake8
.gitignore
.travis.yml
appveyor.yml
*.iml
conda-spec.txt
CONTRIBUTING.rst
LICENSE
MANIFEST.in
README.rst
**/*.pyc
**/*.so
**/*.pyd
