**/tests
**/__pycache__
.git
.github
.idea
.empty
.readthedocs.yml
.vscode
.pytest*
.dist-coverage
build
dist
docs
htmlcov
misc
*.egginfo
.coverage*
.DS_Store
.flake8
.gitignore
.codacy.yml
.codecov.yml
azure-pipelines.yml
*.iml
*.md
conda-spec.txt
CODEOWNERS
CONTRIBUTING.rst
LICENSE
MANIFEST.in
README.rst
**/*.pyc
**/*.so
**/*.pyd
mars/*.c*
mars/*.h*
mars/lib/*.c*
mars/oscar/*.c*
mars/oscar/**/*.c*
