[flake8]
max-complexity = 10
max-line-length = 127
exclude =
    *_pb2.py
    __init__.py
    __pycache__
    mars/lib/enum.py
    mars/lib/six.py
    mars/lib/functools32/*
    mars/lib/futures/*
    mars/lib/uhashring/*
