global-include *.pyx
global-include *.pxd
global-include mars/**/*.yml
global-exclude *.c
global-exclude *.cpp
global-exclude */**/tests/*.yml
global-exclude */**/node_modules/**/*
include setup.cfg
include pyproject.toml
include mars/.git-branch
include mars/lib/mmh3_src/*
include mars/services/web/index.html
include mars/services/web/static/*
global-exclude .DS_Store
