numpy>=1.14.0; python_version >= '3'
numpy>=1.14.0,<1.17.0; python_version < '3'
pandas>=0.20.0; python_version >= '3'
pandas>=0.20.0,<0.25.0; python_version < '3'
requests>=2.4.0
pyarrow>=0.11.0
cython>=0.29
mock>=2.0.0; python_version < '3'
flaky>=3.5.0
pytest>=3.5.0
pytest-cov>=2.5.0
pytest-timeout>=1.2.0
pytest-xdist>=1.15.0
