scipy>=1.0.0; python_version >= '3'
scipy>=1.0.0,<1.3.0; python_version < '3'
scikit-learn>=0.20; python_version >='3'
scikit-learn>=0.20,<0.21.0; python_version < '3'
numexpr>=2.6.4
jax>=0.1.41,<=0.1.43; sys_platform != 'win32'
jaxlib>=0.1.22; sys_platform != 'win32'
psutil>=4.0.0
lz4>=1.0.0
protobuf>=3.6
gevent>=1.3.0
bokeh>=1.0.0
jinja2>=2.0
