services:
  - cluster
  - session
  - storage
  - meta
  - lifecycle
  - scheduling
  - subtask
  - task
  - mutable
cluster:
  backend: fixed
  node_timeout: 120
  node_check_interval: 1
session:
  custom_log_dir: null
storage:
  default_config:
    transfer_block_size: 5 * 1024 ** 2
  plasma:
    store_memory: 20%
  "@overriding_fields": ["backends"]
meta:
  store: dict
task:
  default_config:
    optimize_tileable_graph: yes
    optimize_chunk_graph: yes
    fuse_enabled: yes
scheduling:
  autoscale:
    enabled: false
    min_workers: 1  # Must >=1, mars need at least 1 worker to fetch data
    max_workers: 100
    scheduler_backlog_timeout: 60
    worker_idle_timeout: 120
