"@inherits": base_config.yml
cluster:
  backend: ray
  ray:
    supervisor:
      standalone: no
      sub_pool_num: 0
session:
  custom_log_dir: null
storage:
  backends: [ray]
scheduling:
  autoscale:
    enabled: false
    scheduler_backlog_timeout: 20
    worker_idle_timeout: 40
  subtask_max_retries: 3
  subtask_max_reschedules: 2
metrics:
  backend: ray
