name: Stop Duplicated Flows

on: [push, pull_request_target]

jobs:
  cancel:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
          workflow_id: core-ci.yml,os-compat-ci.yml,platform-ci.yml
