name: Mars CI Core

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-16.04]
        python-version: [3.6, 3.7, 3.8, 3.8-cython]
        include:
          - { os: ubuntu-16.04, python-version: 3.8-cython, no-common-tests: 1,
              no-deploy: 1, with-cython: 1, with-flake8: 1 }

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up conda ${{ matrix.python-version }}
      env:
        PYTHON: ${{ matrix.python-version }}
      shell: bash
      run: |
        source ./.github/workflows/install-conda.sh
        python -m pip install --upgrade pip setuptools wheel coverage;

    - name: Install dependencies
      env:
        WITH_HADOOP: ${{ matrix.with-hadoop }}
        WITH_KUBERNETES: ${{ matrix.with-kubernetes }}
        NO_COMMON_TESTS: ${{ matrix.no-common-tests }}
      shell: bash
      run: |
        source ./.github/workflows/reload-env.sh
        export DEFAULT_VENV=$VIRTUAL_ENV

        pip install -r requirements-dev.txt
        pip install -r requirements-extra.txt
        if [[ $UNAME == "windows" ]]; then
          pip install virtualenv flake8
        else
          pip install virtualenv flaky flake8 etcd-gevent ray
          if [ -z "$NO_COMMON_TESTS" ]; then
            pip install fastparquet h5py zarr matplotlib

            conda install -n test --quiet --yes -c conda-forge python=$PYTHON \
              "tiledb-py>=0.4.3,<0.6.0" "tiledb<2.0.0" || true
            conda install -n test --quiet --yes -c pkgs/main python=$PYTHON certifi

            if [[ ! "$PYTHON" =~ "3.8" ]]; then
              conda install --quiet --yes -n test -c conda-forge --no-deps python=$PYTHON \
                libxgboost py-xgboost xgboost lightgbm tensorflow statsmodels
            fi
            if [[ "$PYTHON" =~ "3.6" ]]; then
              pip install torch==1.4.0 torchvision==0.5.0 faiss-cpu
            fi
            if [[ ! "$PYTHON" =~ "3.8" ]]; then
              pip install torch torchvision
              pip install tsfresh
            fi
            virtualenv testenv && source testenv/bin/activate
            pip install -r requirements.txt && pip install pytest pytest-timeout
            if [ -z "$DEFAULT_VENV" ]; then
              deactivate
            else
              source $DEFAULT_VENV/bin/activate
            fi
          fi
          retry ./.github/workflows/download-etcd.sh
        fi
        conda list -n test

    - name: Lint with flake8
      shell: bash
      if: success() && matrix.with-flake8 == 1
      run: |
        source ./.github/workflows/reload-env.sh
        # stop the build if there are Python syntax errors or undefined names
        flake8 mars --count --select=E9,E111,E225,E302,E303,E901,E999,F7,F63,F82,F401,F821,F822,F823,F841,W291,W292,W391,W605 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 mars --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Build cython extensions
      env:
        WITH_CYTHON: ${{ matrix.with-cython }}
      shell: bash
      run: |
        source ./.github/workflows/reload-env.sh
        if [ -z "$WITH_CYTHON" ]; then
          for cf in `ls .coveragerc*`; do
            sed -i.bak "s/plugins *= *Cython\.Coverage//g" $cf;
            sed -i.bak -e '/*\.pxd/ a\
            \ \ \ \ *.pyx \
            ' $cf
          done
        else
          export CYTHON_TRACE=1
          for cf in `ls .coveragerc*`; do
            sed -i.bak -e '/*\.pxd/ a\
            \ \ \ \ *.py \
            ' $cf
          done
        fi
        retry python setup.py build_ext -i -j 2
        pip install -e ".[dev]"

    - name: Test with pytest
      env:
        WITH_HADOOP: ${{ matrix.with-hadoop }}
        WITH_KUBERNETES: ${{ matrix.with-kubernetes }}
        WITH_CYTHON: ${{ matrix.with-cython }}
        NO_COMMON_TESTS: ${{ matrix.no-common-tests }}
        NUMPY_EXPERIMENTAL_ARRAY_FUNCTION: 1
        CHANGE_MINIKUBE_NONE_USER: true
      shell: bash
      run: |
        source ./.github/workflows/reload-env.sh
        source ./.github/workflows/run-tests.sh
        coverage xml

    - name: Prepare coverage token
      if: success() && github.repository == 'mars-project/mars'
      run: cp .github/codecov-upstream.yml .codecov.yml

    - name: Report coverage data
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
